<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjmav-uaI_YINjcDbcIjj0rd18zzbKoKU</string>
	<key>GCM_SENDER_ID</key>
	<string>15800443330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mac.FirebaseProject</string>
	<key>PROJECT_ID</key>
	<string>whowantsamillion-31f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>whowantsamillion-31f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15800443330:ios:184ec90e0950f9776ef65b</string>
</dict>
</plist>